body, html {
    overflow: visible;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0
}

#gallery-container {
    width: 100%;
    height: 100%;
    alignment: inherit;
    position: relative;
    padding: 8px 8px 8px 8px;
    margin-left: 20%;
    margin-right: 20%;
}

/* phone */
@media only screen and (max-device-width: 480px) {
    #gallery-container {
        width: 100%;
        height: 100%;
        alignment: inherit;
        position: relative;
        padding: 8px 8px 8px 8px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

#gallery-container {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4500px;
}

#gallery_wrapper {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    overflow: visible;
    position: relative;
    /*padding-bottom: 56.25%;*/
    padding-top: 35px;
}