#sns-card {
    background-color: paleturquoise;
    align-content: center;
}

#intro {
    background-color: #a6e1ec;
}

.jumbotron {
    background-color: lightcyan;
    align-content: center;
}

.col-md-8.col-md-4 {
    display: table-cell;
    height: auto;
    border: 1px solid black;
    float: none;
}

#find-me-here {
    font-family: inherit;
}

#bottomdiv {
    float: none;
    display: table-cell;
    vertical-align: bottom;
}

/* phone */
@media only screen and (max-device-width: 480px) {

}
/*color schemes*/
#char-blue {
    color: blue;
}

#char-blue2 {
    color: #0f4bac;
}

#char-blue3 {
    color: #3b5998;
}

#char-blue4 {
    color: #0f4bac;
}

#char-green {
    color: #5cb85c;
}

#char-green2 {
    color: #398439;
}

#char-green3 {
    color: chartreuse;
}

#char-white {
    color: antiquewhite;
}